.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
*.Rproj
.Rproj
.Rcheck/
*.Rcheck/
..Rcheck/
.r_libs/
.Rcache/
*.Rout
*.Rout.save
*.Rout.fail

target/
src/rust/target/
src/rust/vendor/
src/.cargo/
src/Makevars
src/symbols.rds
src/*.o
src/*.so
src/*.a
src/*.dll
src/*.dylib

*.tar.gz
*.zip

.DS_Store
**/.DS_Store
tmp/
tmp.time
